{{ define "main" }}
    <!-- ... (previous code remains unchanged) ... -->
    <div class="container">
        <div class="section">
            <div class="columns is-multiline">
                {{ $numberOfPages := len .Pages}}
                {{ range .Pages.ByWeight }}
                {{ $columWidth := "is-one-third" }}
                {{ if .Site.Params.projects.useTwoColumns }}
                  {{ $columWidth = "is-half" }}
                {{ end}}
                <div class="column {{ $columWidth }}">
                    <div class="card">
                        {{ if .Resources.ByType "image" }}
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <a href="{{ if .Params.external_link }}{{ .Params.external_link }}{{ else }}{{ .Permalink }}{{ end }}">
                                    {{ with .Resources.ByType "image" }}
                                    {{ range first 1 (sort . "Params.weight") }}
                                    <img src="{{ .RelPermalink }}" alt="{{ .Name }}" style="object-fit: cover; width: 100%; height: 100%;">
                                    {{ end }}
                                    {{ end }}
                                </a>
                            </figure>
                        </div>
                        {{ end }}
                        <div class="card-content has-text-centered top-pad">
                            <h1><a href="{{ if .Params.external_link }}{{ .Params.external_link }}{{ else }}{{ .Permalink }}{{ end }}">
                                {{ .Title | markdownify }}
                            </a></h1>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}