/* This is the default font size for larger screens */
.strong-post-title {
    font-size: 2em;
}

/* This will apply only to screens smaller than 600px wide */
@media screen and (max-width: 600px) {
    .strong-post-title {
        font-size: 1.5em !important;
    }
}

.project-thumbnail img {
    width: 100%;
    height: auto;
    max-width: 1558px;
    max-height: 755px;
    object-fit: cover;
  }